body
{
    background-color:lavenderblush;
}
#tartalomalap
{
    display:none;
}
#eredmeny
{
    width: 200px;
    height: 30px;
    border: 5px outset rgba(187,200,75,0.85);
    border-radius: 20px 0px 20px 0px;
    color:saddlebrown;
    font-family:Arial;
    background-color:blanchedalmond;
    font-size:20px;
    font-weight:bold;
    margin:20px;
    padding:5px;
}
label 
{
    font-family: Arial;
    background-color: blanchedalmond;
    font-size: 20px;
    font-weight: bold;
    color: saddlebrown;
    font-stretch:extra-expanded;
    font-style:italic;
}
#tantargy {
    width:100px;
    height:18px;
    border: 2px outset #BBC84B;
    border-radius: 40px 0px 0px 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    color: red;
    background-color:lavenderblush;
    margin-left:25px;
    margin-top:5px;
    padding:5px;
}
#jegyek {
    height: 30px;
    width: 50px;
    border: 2px outset #BBC84B;
    border-radius: 0px 40px 40px 0px;
    margin-top: 5px;
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
}
hr
{
width:30%;
height:3px;
background-color:chocolate;
margin-left:5px;
}

